body {
  background-color: #97bae8;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}



#wordBox {
  margin: 25px 0px;
  width: 1200px;
  line-height: 1.6em;
  font-size: 2.3em;
  text-align: left;
  background-color: #fff;
  overflow: hidden;
  height: 200px;
  color: black;
  border-radius: 30px;
  padding: 20px 20px;
  border: 2px solid;
  font-family: 'Times New Roman', Times, serif;
  align-content: center;
}

.correct {
  color: #4ade80;
}

.wrong {
  color: #ef4444;
}

#inputBox {
  width: 70%;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid;
}

#timer {
  font-size: 25px;
  align-content: center;
  background-color: #181888c2;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

#results {
  margin-top: 30px;
  font-size: 18px;
}


#inputContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 5%;
}

.current {
  background-color: #dddddd; /* grigio chiaro iniziale */
  color: black;
  border-radius: 3px;
  padding: 3px 6px;
}


